[submodule "themes/contrast"]
	path = themes/contrast
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "themes/contrast-green"]
	path = themes/contrast-green
	url = git@github.com:hnlee/contrast-hugo.git
